<div class="modal__open">
    <div class="modal__window">
        <div class="modal__inner">
            <div data-close class="modal__close">×</div>
            <h1 class="modal__title">Оставить заявку</h1>
            <h2 class="modal__subtitle">Заполните форму ниже и я свяжусь с вами в ближайшее время!</h2>
            
    
            <div class="form__inner">
                <form class="modal__form" action="#">
                    <input class="modal__input" type="text"  placeholder="Ваше имя">
                </form>
        
                <form class="modal__form" action="#">
                    <input class="modal__input" type="e-mail" placeholder="Ваш e-mail">
                </form>
        
                <form class="modal__form" action="#">
                    <input class="modal__input" type="tel" placeholder="Ваш телефон">
                </form>
            </div>
    
            <div class="modal__footer">
                <a class="btn btn--pink" href="#">Оставить заявку</a>
    
                <div class="modal__contacts">
                    <a class="contacts__link" href="tel:+7891123345">+789-112-3345</a>
                    <a class="contacts__link" href="mailto:hello@inweb.com">hello@inweb.com</a>
                </div>
            </div>
        </div>
    </div>
</div>